<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1072027857389-koqraosrp1tahitcg787ate90nskvbm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072027857389-koqraosrp1tahitcg787ate90nskvbm4</string>
	<key>API_KEY</key>
	<string>AIzaSyCvp2v1y3sxEZL2rfPq4UlWYCI4n82fgEs</string>
	<key>GCM_SENDER_ID</key>
	<string>1072027857389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.InstaFeed2</string>
	<key>PROJECT_ID</key>
	<string>instafeed2-6848d</string>
	<key>STORAGE_BUCKET</key>
	<string>instafeed2-6848d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072027857389:ios:58bb35033029402b</string>
	<key>DATABASE_URL</key>
	<string>https://instafeed2-6848d.firebaseio.com</string>
</dict>
</plist>